html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body, html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, button:focus {
  outline: none; }

a:hover {
  text-decoration: none;
  color: currentColor; }

*:before,
*:after {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Text-level semantic
 */
:active {
  outline: none; }

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none; }

a:active, a:hover {
  outline: 0; }

b,
strong {
  font-weight: bold; }

/**
 * Embedded content
 */
img {
  max-width: 100%;
  height: auto;
  border-style: none;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/**
 * Grouping content
 */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 16px; }

/**
 * Forms
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button,
input[type=submit] {
  padding: 0;
  overflow: visible;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none; }

button,
select {
  text-transform: none; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal;
  border-radius: 0; }

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: none;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: inherit; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: inherit; }

input::placeholder,
textarea::placeholder {
  color: inherit; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

/**
 * Tables
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*# sourceMappingURL=reset.css.map */
.overlay, .scale-hover img, .hazo-pagination ul li a:hover, .header__main-nav .box-search, .header__main-right .box-search, .header__main-nav ul > li.menu-item-has-children .sub-menu, .header__main-nav ul > li.menu-item-has-children .sub-menu li, .header__main-nav ul > li a::after, .footer-social ul li a, .footer-language .list-item, .footer-currency .list-item, .footer-language .list-item li, .footer-currency .list-item li {
  -webkit-transition: 0.4s ease-out 0s;
  -moz-transition: 0.4s ease-out 0s;
  -ms-transition: 0.4s ease-out 0s;
  -o-transition: 0.4s ease-out 0s;
  transition: 0.4s ease-out 0s; }

.header__top span, .header__main-nav > ul, .header__main-right > ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center; }

a {
  -webkit-transition: color 0.4s ease-out 0s;
  -moz-transition: color 0.4s ease-out 0s;
  -ms-transition: color 0.4s ease-out 0s;
  -o-transition: color 0.4s ease-out 0s;
  transition: color 0.4s ease-out 0s; }

.ws-sgct blockquote {
  background: #f8f8f8;
  font-size: 16px;
  font-style: italic;
  padding: 10px 15px;
  border-left: 3px solid #dce0e8;
  line-height: 1.7; }

.ws-sgct blockquote p {
  margin: 0 !important; }

.ws-sgct code {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px; }

.ws-sgct {
  font-size: 16px;
  line-height: 1.5;
  color: #323232;
  text-align: justify; }
  .ws-sgct a {
    color: var(--primary-color); }

.ws-sgct p {
  margin-bottom: 1.5rem;
  font-size: 16px; }

.ws-sgct img {
  margin: 2rem auto 2rem auto; }

.ws-sgct table {
  margin: 0 0 15px;
  line-height: 2;
  margin: 0px 0px 20px;
  padding: 0px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  background-color: white;
  border-top: 1px solid #ececec;
  border-collapse: collapse;
  border-radius: 5px;
  border-right-style: hidden;
  border-bottom-style: hidden;
  border-left-style: hidden;
  overflow: hidden;
  border-top: none !important; }

.ws-sgct table {
  border: 1px solid #ddd;
  margin-bottom: 30px;
  text-align: left;
  font-size: 14px; }
  .ws-sgct table p {
    margin-bottom: 0;
    text-align: left;
    font-size: 14px; }
  .ws-sgct table tr:nth-child(2n) {
    background-color: #f8fafc; }

.ws-sgct table > tbody > tr > td,
.ws-sgct table > tbody > tr > th,
.ws-sgct table > tfoot > tr > td,
.ws-sgct table > tfoot > tr > th,
.ws-sgct table > thead > tr > td,
.ws-sgct table > thead > tr > th {
  border: 1px solid #ddd;
  padding: 7px 10px; }

.ws-sgct h6 {
  font-size: 18px; }

.ws-sgct h5 {
  font-size: 2.1rem; }

.ws-sgct h4 {
  font-size: 16px; }

.ws-sgct h3 {
  font-size: 17px; }

.ws-sgct h2 {
  font-size: 18px; }

.ws-sgct ul,
.ws-sgct ol {
  margin: 0 0 20px;
  padding-left: 30px; }

.ws-sgct ul li,
.ws-sgct ol li {
  line-height: 1.5;
  margin-bottom: 8px; }

.ws-sgct ol {
  list-style: decimal; }

.ws-sgct ul {
  list-style: disc; }

.ws-sgct iframe {
  margin: auto; }

.ws-sgct .syntaxhighlighter {
  padding: 10px 0; }

.ws-sgct h2,
.ws-sgct h3,
.ws-sgct h4,
.ws-sgct h5,
.ws-sgct h6,
.ws-sgct h1 {
  margin: 0 0 12px;
  font-weight: 700;
  color: #323232; }

.menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  max-width: 340px;
  background-color: #fff;
  z-index: 9999;
  transform: translateX(100%);
  transition: 0.5s;
  padding: 24px 16px 30px 16px; }
  .menu-mobile.menu-mobile-active {
    transform: translate(0); }
  .menu-mobile .title-menu {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px; }
  .menu-mobile .main-menu > ul {
    list-style: none; }
    .menu-mobile .main-menu > ul > li {
      position: relative;
      margin-bottom: 26px; }
      .menu-mobile .main-menu > ul > li.menu-item-has-children a {
        padding-right: 30px; }
      .menu-mobile .main-menu > ul > li a {
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        display: block;
        color: #000;
        opacity: 0.85; }
      .menu-mobile .main-menu > ul > li .li-plus {
        position: absolute;
        width: 40px;
        height: 25px;
        line-height: 30px;
        text-align: center;
        display: block;
        top: 0;
        right: 0;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center; }
        .menu-mobile .main-menu > ul > li .li-plus:after {
          content: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.70435 0.75L6.20435 5.25L10.7043 0.75' stroke='%23121212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); }
      .menu-mobile .main-menu > ul > li .clicked::after {
        transform: rotate(180deg); }
      .menu-mobile .main-menu > ul > li > ul {
        margin-top: 15px;
        display: none; }
        .menu-mobile .main-menu > ul > li > ul li {
          border-top: 1px solid #ddd;
          padding: 10px 0; }
          .menu-mobile .main-menu > ul > li > ul li:last-child {
            border-bottom: 1px solid #ddd; }
          .menu-mobile .main-menu > ul > li > ul li a {
            padding-left: 25px;
            text-transform: capitalize;
            font-weight: 400; }
    .menu-mobile .main-menu > ul .current-menu-item a {
      color: #fff !important;
      background: var(--primary-color); }
    .menu-mobile .main-menu > ul .current-menu-item ul a {
      color: var(--primary-color); }
    .menu-mobile .main-menu > ul .current-menu-parent ul {
      display: block; }
  .menu-mobile .menu__bottom .box-customer .btn-login,
  .menu-mobile .menu__bottom .box-customer .btn-reg {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5.47664px;
    padding: 10px; }
  .menu-mobile .menu__bottom .box-customer .btn-login {
    color: #ffffff;
    background-color: var(--primary-color);
    margin-bottom: 10px; }
    .menu-mobile .menu__bottom .box-customer .btn-login a {
      display: flex;
      justify-content: center;
      align-items: center; }
      .menu-mobile .menu__bottom .box-customer .btn-login a::before {
        display: inline-block;
        margin-right: 12px;
        content: url("data:image/svg+xml,%3Csvg width='17' height='23' viewBox='0 0 17 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.78718 6.33325C4.78718 4.20199 6.51491 2.47427 8.64616 2.47427C10.7774 2.47427 12.5051 4.20199 12.5051 6.33325C12.5051 8.4645 10.7774 10.1922 8.64616 10.1922C6.51491 10.1922 4.78718 8.4645 4.78718 6.33325ZM8.64616 0.858887C5.62275 0.858887 3.1718 3.30984 3.1718 6.33325C3.1718 9.35665 5.62275 11.8076 8.64616 11.8076C11.6696 11.8076 14.1205 9.35665 14.1205 6.33325C14.1205 3.30984 11.6696 0.858887 8.64616 0.858887ZM3.58354 16.3165C4.30724 15.5928 5.28879 15.1862 6.31225 15.1862H10.9789C12.0024 15.1862 12.9839 15.5928 13.7076 16.3165C14.4313 17.0402 14.8379 18.0217 14.8379 19.0452V21.3785C14.8379 21.8246 15.1995 22.1862 15.6456 22.1862C16.0917 22.1862 16.4533 21.8246 16.4533 21.3785V19.0452C16.4533 17.5933 15.8765 16.2009 14.8499 15.1743C13.8232 14.1476 12.4308 13.5709 10.9789 13.5709H6.31225C4.86036 13.5709 3.46793 14.1476 2.44129 15.1743C1.41465 16.2009 0.837891 17.5933 0.837891 19.0452V21.3785C0.837891 21.8246 1.19951 22.1862 1.64558 22.1862C2.09166 22.1862 2.45328 21.8246 2.45328 21.3785V19.0452C2.45328 18.0217 2.85984 17.0402 3.58354 16.3165Z' fill='white'/%3E%3C/svg%3E%0A"); }
  .menu-mobile .menu__bottom .box-customer .btn-reg {
    border: 1px solid var(--primary-color); }

.overlay {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8); }
  .overlay.overlay-active {
    opacity: 1;
    visibility: visible; }

.back-to-top {
  position: fixed;
  bottom: 6rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  cursor: pointer;
  z-index: 9999; }

.swal2-html-container {
  font-size: 16px; }

.c-img {
  position: relative;
  width: 100%;
  display: block;
  padding-top: 70%; }
  .c-img img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }

.scale-hover {
  display: block;
  overflow: hidden;
  width: 100%; }
  .scale-hover:hover > img {
    transform: scale(1.09); }

.hazo-pagination {
  justify-content: center;
  margin: 5rem 0 3rem 0; }
  .hazo-pagination ul {
    display: flex;
    justify-content: center; }
    .hazo-pagination ul li.active a {
      background: var(--primary-color);
      color: #fff; }
    .hazo-pagination ul li a {
      float: left;
      margin: 0 2.5px;
      border-radius: 5px;
      width: 35px;
      height: 35px;
      background: #f6f6f6;
      border: solid 1px #ebebeb;
      text-align: center;
      font-size: 14px;
      padding: 0;
      line-height: 35px;
      color: #282828;
      text-decoration: none; }
      .hazo-pagination ul li a svg {
        width: 10px;
        height: 14px;
        margin-bottom: 2px; }
        .hazo-pagination ul li a svg path {
          stroke: var(--primary-color); }
      .hazo-pagination ul li a:hover {
        background: var(--primary-color);
        color: #fff; }
        .hazo-pagination ul li a:hover svg path {
          stroke: #fff; }

@media (min-width: 991px) {
  .col-lg-1-5 {
    width: 20% !important;
    flex: 0 0 20% !important;
    max-width: 20% !important; } }
@media (max-width: 767px) {
  .scroll-snap {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory; } }
.scroll-snap .item {
  scroll-snap-align: start;
  scroll-snap-stop: always; }

/****************FONT*****************/
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700; }
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400; }
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500; }
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300; }
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-padding-top: 40px; }

@media only screen and (max-width: 1200px) {
  html {
    font-size: 52%; } }
:root {
  --primary-color: #12141d;
  --secondary-color: #f4da40;
  --text-color: #000000;
  --grey-color: #fafafb; }

.gutter-15 {
  margin-left: -15px;
  margin-right: -15px; }
  @media (max-width: 991px) {
    .gutter-15 {
      margin-left: -10px;
      margin-right: -10px; } }

.gutter-15 > [class*="col-"] {
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 991px) {
    .gutter-15 > [class*="col-"] {
      padding-left: 10px;
      padding-right: 10px; } }

body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color); }

.container {
  padding: 0 15px; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1590px;
      width: 100%; } }

/*--------------HEADER----------------*/
.header__top {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 11px 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500; }
  .header__top span:after {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 12H19' stroke='%23121212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13 18L19 12' stroke='%23121212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13 6L19 12' stroke='%23121212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    display: inline-block;
    margin-left: 5px;
    height: 26px; }
  @media only screen and (max-width: 767px) {
    .header__top {
      font-size: 12px; } }
.header__main {
  padding: 1.7rem 0; }
  .header__main-logo img {
    max-width: 210px; }
    @media only screen and (max-width: 767px) {
      .header__main-logo img {
        max-width: 138px; } }
  .header__main-nav, .header__main-right {
    position: relative; }
    @media only screen and (max-width: 991px) {
      .header__main-nav > ul .cart-icon svg, .header__main-right > ul .cart-icon svg {
        width: 35px;
        height: 35px; } }
    .header__main-nav .box-search, .header__main-right .box-search {
      position: absolute;
      left: 0;
      bottom: -9rem;
      width: 270px;
      background-color: #ffffff;
      opacity: 0;
      visibility: hidden;
      z-index: -1; }
      .header__main-nav .box-search.active, .header__main-right .box-search.active {
        bottom: -7rem;
        opacity: 1;
        visibility: visible;
        z-index: 2; }
      @media only screen and (max-width: 991px) {
        .header__main-nav .box-search, .header__main-right .box-search {
          display: none; } }
  .header__main-nav ul > li {
    padding: 1rem 0; }
    .header__main-nav ul > li.menu-item-has-children {
      position: relative; }
      .header__main-nav ul > li.menu-item-has-children:after {
        position: absolute;
        right: -18px;
        top: 7px;
        content: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.7041 0.75L6.2041 5.25L10.7041 0.75' stroke='%23121212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); }
      .header__main-nav ul > li.menu-item-has-children .sub-menu {
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        left: 0;
        top: 4rem;
        position: absolute;
        width: 20rem;
        height: auto;
        background: #fff;
        box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        transform: translateY(10px); }
        .header__main-nav ul > li.menu-item-has-children .sub-menu li {
          padding: 1rem;
          width: 100%; }
          .header__main-nav ul > li.menu-item-has-children .sub-menu li:hover {
            background-color: var(--primary-color); }
            .header__main-nav ul > li.menu-item-has-children .sub-menu li:hover a {
              color: #ffffff; }
          .header__main-nav ul > li.menu-item-has-children .sub-menu li a:after {
            display: none; }
      .header__main-nav ul > li.menu-item-has-children:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0); }
    .header__main-nav ul > li a {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      color: var(--primary-color);
      position: relative; }
      .header__main-nav ul > li a::after {
        position: absolute;
        width: 0;
        height: 2px;
        background-color: var(--primary-color);
        content: "";
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%); }
    .header__main-nav ul > li:not(:last-child) {
      margin-right: 12rem; }
    .header__main-nav ul > li:hover > a:after {
      width: 100%; }
  .header__main-right ul li {
    cursor: pointer; }
    .header__main-right ul li:not(:last-child) {
      margin-right: 2.5rem; }
.header__bottom {
  background: #fafafb;
  border-top: 1px solid #f0f0f0; }
  .header__bottom-content {
    font-weight: 300;
    text-transform: uppercase; }
    .header__bottom-content ul {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      padding: 1.3rem 0; }
      .header__bottom-content ul::-webkit-scrollbar {
        width: 6px;
        height: 8px; }
      .header__bottom-content ul::-webkit-scrollbar-track {
        background-color: #ebebeb;
        -webkit-border-radius: 10px;
        border-radius: 10px; }
      .header__bottom-content ul::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #6d6d6d; }
      .header__bottom-content ul li {
        scroll-snap-align: start;
        scroll-snap-stop: always; }
        .header__bottom-content ul li:not(:last-child) {
          margin-right: 6rem; }
        .header__bottom-content ul li a:hover {
          text-decoration: underline; }

@media only screen and (max-width: 991px) {
  .box-search {
    margin-bottom: 36px; } }
.box-search form {
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  height: 52px;
  padding: 12px 16px;
  max-width: 100%; }
  .box-search form button {
    margin-right: 10px; }
  .box-search form input {
    height: 100%;
    border: none;
    color: var(--text-color);
    flex: 1; }
    .box-search form input::placeholder {
      color: #a7a7a7;
      text-transform: uppercase; }

/*==============FOOTER==================*/
.footer {
  background-color: var(--grey-color); }
  .footer__main {
    padding: 8rem 0; }
    @media only screen and (max-width: 991px) {
      .footer__main {
        padding: 5rem 0 3rem 0; } }
  .footer-logo {
    margin-bottom: 16px; }
    .footer-logo img {
      max-width: 130px; }
  .footer-desc {
    font-size: 16px;
    font-weight: 300; }
    @media only screen and (max-width: 991px) {
      .footer-desc {
        margin-bottom: 34px; } }
    @media only screen and (max-width: 767px) {
      .footer-desc {
        font-size: 14px;
        font-weight: 500; } }
    @media only screen and (min-width: 992px) {
      .footer-desc {
        max-width: 424px; } }
  .footer-social {
    margin-top: 16px; }
    @media only screen and (max-width: 767px) {
      .footer-social {
        margin-top: 3rem;
        margin-bottom: 3rem; } }
    .footer-social ul {
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 991px) {
        .footer-social ul {
          justify-content: center; } }
      .footer-social ul li {
        margin-right: 16px; }
        .footer-social ul li a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: #ffffff; }
          .footer-social ul li a:hover {
            background-color: #e0dddd; }
  .footer-title {
    font-weight: 600;
    font-weight: 16px;
    text-transform: uppercase; }
    @media only screen and (min-width: 992px) {
      .footer-title {
        margin-bottom: 1.2rem; } }
    @media only screen and (max-width: 767px) {
      .footer-title {
        font-size: 14px; } }
    @media only screen and (max-width: 991px) {
      .footer-title {
        padding: 10px 0;
        border-bottom: 1px solid #cbcbcb;
        display: flex;
        justify-content: space-between; }
        .footer-title.active:after {
          transform: rotate(180deg); }
        .footer-title:after {
          content: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22705 1.5L6.22705 6.5L11.2271 1.5' stroke='%23121212' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); } }
    .footer-title.active + ul {
      padding-bottom: 1rem;
      border-bottom: 1px solid #cbcbcb; }
  @media only screen and (max-width: 991px) {
    .footer-item ul {
      display: none; } }
  .footer-item ul li {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px; }
    @media only screen and (min-width: 992px) {
      .footer-item ul li {
        margin-bottom: 1.2rem; } }
    @media only screen and (max-width: 767px) {
      .footer-item ul li {
        font-weight: 400;
        font-size: 13px; } }
    .footer-item ul li a:hover {
      text-decoration: underline; }
    @media only screen and (max-width: 991px) {
      .footer-item ul li {
        padding-top: 1.5rem; } }
  .footer-coppyright {
    font-size: 12px;
    font-weight: 300; }
    @media only screen and (min-width: 992px) {
      .footer-coppyright {
        color: #3e3e59;
        font-size: 14px;
        font-weight: 500; } }
  .footer-language, .footer-currency {
    position: relative;
    font-size: 14px;
    font-weight: 300; }
    .footer-language .img, .footer-currency .img {
      margin-right: 5px; }
    .footer-language .current-item, .footer-currency .current-item {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .footer-language .current-item::after, .footer-currency .current-item::after {
        display: inline-block;
        margin-left: 5px;
        margin-top: -2px;
        content: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.3916 0.75L5.8916 5.25L10.3916 0.75' stroke='%23121212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); }
      .footer-language .current-item.active:after, .footer-currency .current-item.active:after {
        transform: rotate(-180deg); }
    .footer-language .list-item, .footer-currency .list-item {
      top: -140px;
      position: absolute;
      background-color: #ffffff;
      border-radius: 10px;
      width: 14rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      opacity: 0;
      visibility: hidden; }
      .footer-language .list-item.active, .footer-currency .list-item.active {
        top: -120px;
        opacity: 1;
        visibility: visible; }
      .footer-language .list-item:after, .footer-currency .list-item:after {
        clip-path: polygon(50% 100%, 0 29%, 100% 29%);
        position: absolute;
        content: "";
        bottom: -7px;
        left: 12px;
        width: 15px;
        height: 10px;
        background-color: #ffffff; }
      .footer-language .list-item li, .footer-currency .list-item li {
        padding: 7px 1rem; }
        .footer-language .list-item li:first-child, .footer-currency .list-item li:first-child {
          border-radius: 10px 10px 0 0; }
        .footer-language .list-item li:last-child, .footer-currency .list-item li:last-child {
          border-radius: 0 0 10px 10px; }
        .footer-language .list-item li:hover, .footer-currency .list-item li:hover {
          background-color: #cbcbcb; }
        .footer-language .list-item li a, .footer-currency .list-item li a {
          display: block; }
  .footer-language {
    margin-right: 3.6rem; }
  @media only screen and (min-width: 992px) {
    .footer-currency .list-item {
      right: 0; }
      .footer-currency .list-item:after {
        right: 12px;
        left: unset; } }
  .footer__bottom {
    padding-top: 24px;
    padding-bottom: 41px; }
    @media only screen and (min-width: 992px) {
      .footer__bottom {
        border-top: 1px solid #cbcbcb; } }
    @media only screen and (max-width: 991px) {
      .footer__bottom {
        padding-bottom: 49px; } }

/*# sourceMappingURL=style.css.map */
