@import "_reset";
@import "_variable";
@import "_fonts";

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-padding-top: 40px;
}
@media only screen and (max-width: 1200px) {
    html {
        font-size: 52%;
    }
}
:root {
    --primary-color: #12141d;
    --secondary-color: #f4da40;
    --text-color: #000000;
    --grey-color: #fafafb;
}

.gutter-15 {
    margin-left: -15px;
    margin-right: -15px;
    @media (max-width: 991px) {
        margin-left: -10px;
        margin-right: -10px;
    }
}
.gutter-15 > [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: 991px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

body {
    font-family: "SVN-MuseoSans";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}
.font-brandon {
    font-family: "SVN-Brandon Grotesque";
}
.container {
    padding: 0 15px;
    @media (min-width: 1200px) {
        max-width: 1590px;
        width: 100%;
    }
}
.bg-black {
    background-color: #000000;
}
@keyframes stuck-header {
    0% {
        transform: translateY(-300px);
    }
    100% {
        transform: translateY(0);
    }
}
/*--------------HEADER----------------*/
.header {
    &__top {
        background-color: var(--secondary-color);
        text-align: center;
        padding: 11px 0;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        span {
            @extend %flex-center;
            &:after {
                content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 12H19' stroke='%23121212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13 18L19 12' stroke='%23121212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13 6L19 12' stroke='%23121212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                display: inline-block;
                margin-left: 5px;
                height: 26px;
            }
        }
        @include Responsive(SM) {
            font-size: 12px;
        }
    }
    &__main {
        position: relative;
        &.header-active {
            position: fixed;
            width: 100%;
            left: 0;
            animation: stuck-header 1s;
            z-index: 999;
            top: 0;
            background-color: #ffffff;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        @include Responsive(MD) {
            padding: 2rem 0;
        }
        &-logo {
            img {
                max-width: 210px;
                @include Responsive(SM) {
                    max-width: 138px;
                }
            }
        }

        &-right {
            > ul {
                @extend %flex-center;
                .cart-icon {
                    @include Responsive(MD) {
                        svg {
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
            }
            .box-search {
                position: absolute;
                left: 0;
                bottom: -9rem;
                width: 270px;
                opacity: 0;
                visibility: hidden;
                z-index: -1;
                @extend %smooth-trans;
                &.active {
                    bottom: -7rem;
                    opacity: 1;
                    visibility: visible;
                    z-index: 2;
                }
                @include Responsive(MD) {
                    display: none;
                }
            }
        }
        &-nav {
            ul {
                @extend %flex-center;
                > li {
                    padding: 2.7rem 0;
                    &.menu-item-has-children {
                        &:after {
                            display: inline-block;
                            vertical-align: text-bottom;
                            content: url("data:image/svg+xml,%3Csvg width='12' height='10   ' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.7041 0.75L6.2041 5.25L10.7041 0.75' stroke='%23121212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        }
                        .sub-menu {
                            z-index: 99;
                            opacity: 0;
                            visibility: hidden;
                            left: 0;
                            bottom: 0;
                            position: absolute;
                            width: 100%;
                            height: auto;
                            box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
                            @extend %smooth-trans;
                            background: #fafafb;
                            border-top: 1px solid #f0f0f0;
                            font-weight: 300;
                            text-transform: uppercase;
                            bottom: -44px;
                            &::-webkit-scrollbar {
                                width: 6px;
                                height: 8px;
                            }
                            &::-webkit-scrollbar-track {
                                background-color: #ebebeb;
                                -webkit-border-radius: 10px;
                                border-radius: 10px;
                            }
                            &::-webkit-scrollbar-thumb {
                                -webkit-border-radius: 10px;
                                border-radius: 10px;
                                background: #6d6d6d;
                            }
                            li {
                                padding: 1rem 3rem;
                                @extend %flex;
                                justify-content: center;
                                align-items: center;
                                @extend %smooth-trans;
                                margin-right: 0;

                                a {
                                    font-weight: 300;
                                    &:after {
                                        display: none;
                                    }
                                }

                                a {
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                        &:hover {
                            > .sub-menu {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                    a {
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: 500;
                        color: var(--primary-color);
                        position: relative;
                        &::after {
                            position: absolute;
                            width: 0;
                            height: 2px;
                            background-color: var(--primary-color);
                            content: "";
                            bottom: -4px;
                            @extend %smooth-trans;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    &:not(:last-child) {
                        margin-right: 12rem;
                    }
                    &:hover {
                        > a {
                            &:after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        &-right {
            position: relative;
            ul {
                li {
                    cursor: pointer;
                    &:not(:last-child) {
                        margin-right: 2.5rem;
                    }
                }
            }
        }
    }
    // &__bottom {
    //     background: #fafafb;
    //     border-top: 1px solid #f0f0f0;

    //     &-content {
    //         font-weight: 300;
    //         text-transform: uppercase;
    //         ul {
    //             display: flex;
    //             justify-content: center;
    //             align-items: center;
    //             overflow-x: auto;
    //             scroll-snap-type: x mandatory;
    //             padding: 1.3rem 0;
    //             &::-webkit-scrollbar {
    //                 width: 6px;
    //                 height: 8px;
    //             }
    //             &::-webkit-scrollbar-track {
    //                 background-color: #ebebeb;
    //                 -webkit-border-radius: 10px;
    //                 border-radius: 10px;
    //             }
    //             &::-webkit-scrollbar-thumb {
    //                 -webkit-border-radius: 10px;
    //                 border-radius: 10px;
    //                 background: #6d6d6d;
    //             }
    //             li {
    //                 scroll-snap-align: start;
    //                 scroll-snap-stop: always;
    //                 &:not(:last-child) {
    //                     margin-right: 6rem;
    //                 }
    //                 a {
    //                     &:hover {
    //                         text-decoration: underline;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
}
.box-search {
    @include Responsive(MD) {
        margin-bottom: 36px;
    }

    form {
        border: 1px solid #cbcbcb;
        border-radius: 6px;
        height: 52px;
        padding: 12px 16px;
        max-width: 100%;
        background: #ffffff;
        button {
            margin-right: 10px;
        }
        input {
            height: 100%;
            border: none;
            color: var(--text-color);
            flex: 1;
            &::placeholder {
                color: #a7a7a7;
                text-transform: uppercase;
            }
        }
    }
}

/*==============FOOTER==================*/
.footer {
    background-color: var(--grey-color);
    &__main {
        padding: 8rem 0;
        @include Responsive(MD) {
            padding: 5rem 0 3rem 0;
        }
    }
    &-logo {
        margin-bottom: 16px;
        img {
            max-width: 130px;
        }
    }
    &-desc {
        font-size: 16px;
        font-weight: 300;
        @include Responsive(MD) {
            margin-bottom: 34px;
        }
        @include Responsive(SM) {
            font-size: 14px;
            font-weight: 500;
        }
        @include Responsive(XL) {
            max-width: 424px;
        }
    }
    &-social {
        margin-top: 16px;
        @include Responsive(SM) {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
        ul {
            display: flex;
            align-items: center;
            @include Responsive(MD) {
                justify-content: center;
            }
            li {
                margin-right: 16px;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    background-color: #ffffff;
                    @extend %smooth-trans;
                    &:hover {
                        background-color: #e0dddd;
                    }
                }
            }
        }
    }
    &-title {
        font-weight: 600;
        font-weight: 16px;
        text-transform: uppercase;
        @include Responsive(XL) {
            margin-bottom: 1.2rem;
        }
        @include Responsive(SM) {
            font-size: 14px;
        }
        @include Responsive(MD) {
            padding: 10px 0;
            border-bottom: 1px solid #cbcbcb;
            display: flex;
            justify-content: space-between;
            &.active {
                &:after {
                    transform: rotate(180deg);
                }
            }
            &:after {
                content: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22705 1.5L6.22705 6.5L11.2271 1.5' stroke='%23121212' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
        }
        &.active + ul {
            padding-bottom: 1rem;
            border-bottom: 1px solid #cbcbcb;
        }
    }
    &-item {
        ul {
            @include Responsive(MD) {
                display: none;
            }
            li {
                @include Responsive(XL) {
                    margin-bottom: 1.2rem;
                }
                text-transform: uppercase;
                font-weight: 300;
                font-size: 16px;
                @include Responsive(SM) {
                    font-weight: 400;
                    font-size: 13px;
                }
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
                @include Responsive(MD) {
                    padding-top: 1.5rem;
                }
            }
        }
    }
    &-coppyright {
        font-size: 12px;
        font-weight: 300;
        @include Responsive(XL) {
            color: #3e3e59;
            font-size: 14px;
            font-weight: 500;
        }
    }

    &-language,
    &-currency {
        position: relative;
        font-size: 14px;
        font-weight: 300;
        .img {
            margin-right: 5px;
        }
        .current-item {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &::after {
                display: inline-block;
                margin-left: 5px;
                margin-top: -2px;
                content: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.3916 0.75L5.8916 5.25L10.3916 0.75' stroke='%23121212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
            &.active {
                &:after {
                    transform: rotate(-180deg);
                }
            }
        }
        .list-item {
            top: -140px;
            position: absolute;
            background-color: #ffffff;
            border-radius: 10px;
            width: 14rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            @extend %smooth-trans;
            opacity: 0;
            visibility: hidden;
            &.active {
                top: -120px;
                opacity: 1;
                visibility: visible;
            }
            &:after {
                clip-path: polygon(50% 100%, 0 29%, 100% 29%);
                position: absolute;
                content: "";
                bottom: -7px;
                left: 12px;
                width: 15px;
                height: 10px;
                background-color: #ffffff;
            }
            li {
                &:first-child {
                    border-radius: 10px 10px 0 0;
                }
                &:last-child {
                    border-radius: 0 0 10px 10px;
                }
                @extend %smooth-trans;
                padding: 7px 1rem;
                &:hover {
                    background-color: #cbcbcb;
                }
                a {
                    display: block;
                }
            }
        }
    }
    &-language {
        margin-right: 3.6rem;
    }
    &-currency {
        @include Responsive(XL) {
            .list-item {
                right: 0;
                &:after {
                    right: 12px;
                    left: unset;
                }
            }
        }
    }
    &__bottom {
        padding-top: 24px;
        padding-bottom: 41px;
        @include Responsive(XL) {
            border-top: 1px solid #cbcbcb;
        }
        @include Responsive(MD) {
            padding-bottom: 49px;
        }
    }
}

.banner__home {
    position: relative;
    &-img {
        img {
            width: 100%;
            object-fit: cover;
            -o-object-fit: cover;
            @include Responsive(XL) {
                max-height: 85vh;
                height: 100%;
            }
            @media only screen and (min-width: 768px) {
                margin-top: -1px;
            }
        }
    }
    &-content {
        color: #ffffff;
        padding-top: 15rem;
        position: relative;
        z-index: 2;
        @include Responsive(MD) {
            background: linear-gradient(89.16deg, #232323 0.02%, #313131 108.33%);
            padding-top: 7rem;
        }
        @include Responsive(XL) {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            .content {
                max-width: 656px;
            }
        }
        .sup-title,
        .banner-title {
            text-transform: uppercase;
            font-weight: 700;
        }
        .sup-title {
            font-size: 12px;
            letter-spacing: 4.44789px;
            line-height: 2;
            @include Responsive(XL) {
                letter-spacing: 8.5px;
                font-size: 20px;
            }
        }
        .banner-title {
            font-size: 8.4rem;
            line-height: 1.2;
            letter-spacing: 1px;
            @include Responsive(SM) {
                font-size: 48px;
                letter-spacing: 0.523282px;
            }
        }
        .sub-title {
            font-weight: 300;
            font-size: 20px;
            line-height: 1.8;
            color: rgba(255, 255, 255, 0.8);
            margin-top: 30px;
            @include Responsive(SM) {
                font-size: 14px;
                margin-top: 15px;
            }
        }
        .banner-btn {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 22px;
            margin-top: 4.8rem;
            @include Responsive(SM) {
                font-size: 16px;
                margin-top: 30px;
            }
            a {
                display: inline-block;
                border-radius: 8px;
                padding: 1.5rem 3rem;
                @extend %smooth-trans;
                &.colletion-btn {
                    background-color: #ffffff;
                    color: #080a07;
                    margin-right: 1rem;
                    border: 1px solid transparent;
                    &:hover {
                        background-color: unset;
                        color: #ffffff;
                        border: 1px solid #ffffff;
                    }
                }
                &.buynow-btn {
                    color: #ffffff;
                    border: 1px solid #ffffff;
                    &:hover {
                        background-color: #ffffff;
                        color: #080a07;
                    }
                }
            }
        }
    }
}

//section new products

.new_product {
    padding: 9.5rem 0;
    @include Responsive(SM) {
        padding: 5rem 0;
    }
    .box-count-down {
        font-family: "SVN-Brandon Grotesque";
        @include Responsive(XL) {
            margin-left: 4rem;
        }
        @include Responsive(MD) {
            width: 100%;
        }
        span {
            background-color: var(--primary-color);
            padding: 1rem;
            text-align: center;
            color: #ffffff;
            font-weight: 700;
            margin-right: 8px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 36px;
            line-height: 1;
            @include Responsive(SM) {
                font-size: 22px;
            }
        }
    }
    &-list {
        margin-left: -1.4rem;
        margin-right: -1.4rem;
        .item {
            padding-left: 1.4rem;
            padding-right: 1.4rem;
        }
    }
    .flickity-button {
        width: 4rem;
        height: 4rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        @include Responsive(SM) {
            width: 3rem;
            height: 3rem;
        }
        @include Responsive(XL) {
            &.previous {
                left: -2rem;
            }
            &.next {
                right: -2rem;
            }
        }

        .flickity-button-icon {
            width: 2rem;
            height: 2rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include Responsive(SM) {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}
.heading-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4.8rem;
    font-family: "SVN-Brandon Grotesque";
    @include Responsive(XL) {
        line-height: 2;
    }
    @include Responsive(SM) {
        font-size: 28px;
    }
}

.btn-viewmore {
    font-family: "SVN-Brandon Grotesque";
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-decoration: underline !important;
    line-height: 1.7;
    font-size: 20px;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: right;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.17168 7.00023L0.22168 2.05023L1.63568 0.63623L7.99968 7.00023L1.63568 13.3642L0.22168 11.9502L5.17168 7.00023Z' fill='%23121212'/%3E%3C/svg%3E%0A");
    @include Responsive(MD) {
        font-size: 14px;
        background-position: right 3px;
        margin-top: 7px;
    }
}

// Hang moi ve

.new_product {
    font-family: "SVN-Brandon Grotesque";
    &-item {
        &:hover {
            .new_product-top {
                background: #d8d6d6;
            }
        }
    }
    &-list {
        margin-top: 4rem;
    }
    &-img {
        padding-top: 100%;
        position: relative;
        display: block;
        width: 100%;
        @include Responsive(SM) {
            padding-top: 110%;
        }
        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;
            max-width: 63%;
            max-height: 250px;
            margin: auto;
            @include Responsive(SM) {
                max-width: 65%;
                max-height: 120px;
            }
        }
    }
    &-top {
        position: relative;
        width: 100%;
        display: block;
        padding-top: 108%;
        background: #f5f5f5;
        overflow: hidden;
        @extend %smooth-trans;
        @include Responsive(SM) {
            padding-top: 120%;
        }
        .inner {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .discount {
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: #f4da40;
            color: #ed2a16;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 16px;
            padding: 4px 10px;
            @include Responsive(SM) {
                font-size: 12px;
                top: 8px;
                right: 8px;
                line-height: 1;
            }
        }
        .promotion {
            position: absolute;
            bottom: 0;
            left: 0;
            .date,
            .text {
                padding: 10px 15px;
                color: #ffffff;
                font-weight: 700;
                font-size: 20px;
                display: inline-block;
                @media (max-width: 1300px) {
                    font-size: 16px;
                    padding: 8px;
                }
                @include Responsive(SM) {
                    font-size: 12.5px;
                    padding: 4px;
                }
            }
            .date {
                background: #ed2a16;
            }
            .text {
                background-size: 100%;
                padding-right: 50px;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='203' height='52' viewBox='0 0 203 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H203L166.5 52H0V0Z' fill='%2328A79C'/%3E%3C/svg%3E%0A");
                @media (max-width: 1300px) {
                    padding-right: 35px;
                }
                @include Responsive(SM) {
                    padding-right: 25px;
                }
            }
        }
    }
    &-bottom {
        .price {
            text-align: center;
            color: #ed2a16;
            line-height: 1;
            font-weight: 700;
            padding: 15px 0;
            font-size: 4.8rem;
            @include Responsive(SM) {
                font-size: 23px;
            }
        }
        .product-sold {
            background: #fdbba4;
            border-radius: 100px;
            position: relative;
            height: 37px;
            @include Responsive(SM) {
                height: 18px;
            }
            .sold {
                color: #ffffff;
                position: absolute;
                height: 100%;
                text-align: right;
                background: #ed2a16;
                border-radius: 100px;
                padding-right: 30px;
                line-height: 37px;
                font-size: 16px;
                text-transform: uppercase;
                @include Responsive(SM) {
                    line-height: 18px;
                    font-size: 11px;
                }
            }
        }
    }
}

// danh muc

.list__category {
    [class*="col-"]:nth-child(4n + 1) {
        background: #f2dca1;
    }
    [class*="col-"]:nth-child(4n + 2) {
        background: #ffd9d9;
    }
    [class*="col-"]:nth-child(4n + 3) {
        background: #ace0ff;
    }
    [class*="col-"]:nth-child(4n + 4) {
        background: #00b3a0;
    }
    &-item {
        padding: 8rem;
        text-align: center;
        @include Responsive(SM) {
            padding: 5rem 15px;
        }
        .category-img {
            a {
                display: block;
                max-width: 375px;
                margin: auto;
                position: relative;
                width: 100%;
                padding-top: 52%;
                img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: contain;
                }
            }
        }
        .category-name {
            font-family: "SVN-Brandon Grotesque";
            font-weight: 700;
            text-transform: uppercase;
            font-size: 4.8rem;
            margin: 1rem 0;
            @include Responsive(SM) {
                font-size: 28px;
            }
        }
        .desc {
            margin: auto;
            font-weight: 300;
            font-size: 18px;
            margin-bottom: 2rem;
            @include Responsive(XL) {
                max-width: 592px;
                width: 100%;
            }
            @include Responsive(SM) {
                font-size: 13px;
            }
        }
        .btn-buy {
            font-family: "SVN-Brandon Grotesque";
            a {
                display: inline-block;
                border: 2px solid var(--primary-color);
                padding: 1rem 3rem;
                border-radius: 6px;
                text-transform: uppercase;
                color: #080a07;
                font-size: 22px;
                font-weight: 700;
                @extend %smooth-trans;
                &:hover {
                    background-color: var(--primary-color);
                    color: #ffffff;
                }
                @include Responsive(SM) {
                    display: block;
                    font-size: 16px;
                    border-width: 1px;
                }
            }
        }
    }
}

// feedback

.feedback {
    padding: 14rem 0;
    @include Responsive(MD) {
        text-align: center;
    }
    @include Responsive(SM) {
        padding: 6rem 0;
    }
    &__list {
        @include Responsive(XL) {
            @include flexbox();
            &-left,
            &-right {
                @include Responsive(XL) {
                    width: 50%;
                }
            }
        }
        &-main {
        }
        &-right {
            margin-left: 16px;
            .feedback__list-item {
                .feedback-img {
                    padding-top: 64.6%;
                    &:after {
                        width: 10.8rem;
                        height: 10.8rem;
                    }
                }
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
        }

        &-nav {
            margin-left: -4px;
            margin-right: -4px;
            margin-top: 1.7rem;
            .feedback__list-item {
                width: 25%;
                padding-left: 4px;
                padding-right: 4px;
                .feedback-img {
                    padding-top: 120%;
                    &:after {
                        width: 5.8rem;
                        height: 5.8rem;
                    }
                }
            }
        }
    }
}
.feedback__list-item {
    width: 100%;
    @include Responsive(MD) {
        width: 70%;
        transform: scale(0.9);
        &.is-selected {
            transform: scale(1.04);
        }
    }
    @include Responsive(SM) {
        width: 80%;
    }
    .feedback-product {
        display: none;
    }
    .feedback-img {
        position: relative;
        width: 100%;
        padding-top: 100%;
        @include Responsive(SM) {
            padding-top: 150%;
        }
        &:after {
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 17.4rem;
            height: 17.4rem;
            z-index: 2;
            display: inline-block;
            content: url("data:image/svg+xml,%3Csvg viewBox='0 0 174 174' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='87' cy='87' r='84' fill='black' fill-opacity='0.3' stroke='white' stroke-width='6'/%3E%3Cg clip-path='url(%23clip0_339_8802)'%3E%3Cpath d='M74.6103 67.8638L105.259 85.743C105.478 85.8715 105.66 86.0554 105.787 86.2761C105.914 86.4969 105.98 86.747 105.98 87.0015C105.98 87.256 105.914 87.5061 105.787 87.7269C105.66 87.9477 105.478 88.1315 105.259 88.2601L74.6103 106.139C74.3883 106.269 74.1359 106.337 73.8788 106.338C73.6217 106.339 73.369 106.271 73.1464 106.143C72.9237 106.014 72.739 105.829 72.6109 105.606C72.4828 105.383 72.4159 105.13 72.417 104.873V69.1238C72.4169 68.8672 72.4846 68.6151 72.6131 68.393C72.7416 68.1709 72.9264 67.9867 73.1489 67.8588C73.3714 67.731 73.6237 67.6642 73.8803 67.665C74.1369 67.6659 74.3887 67.7345 74.6103 67.8638Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_339_8802'%3E%3Crect width='70' height='70' fill='white' transform='translate(52 52)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            @include Responsive(SM) {
                width: 10rem;
                height: 10rem;
            }
        }
        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
}
.fancybox-caption {
    @include Responsive(SM) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.fancybox-caption__body {
    @extend %flex;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    max-width: 900px;
    margin: auto;
    padding: 7px 2.6rem;
    @include Responsive(SM) {
        padding: 5px;
    }
    .img {
        width: 145px;
        @include Responsive(SM) {
            width: 60px;
        }
    }
    .desc {
        @include flex(1);
        text-align: left;
        .name {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 32px;
            @include Responsive(SM) {
                font-size: 2rem;
                font-weight: 400;
            }
        }
        .price {
            font-weight: 500;
            font-size: 28px;
            @include Responsive(SM) {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
    .addcart {
        display: inline-block;
        border: 1px solid #121212;
        border-radius: 8px;
        padding: 1.7rem 8rem;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.8rem;
        background: #121212;
        border: 1px solid transparent;
        @extend %smooth-trans;
        &:hover {
            background-color: #ffffff;
            color: #000000;
            border-color: #000000;
            text-decoration: none;
        }
        @include Responsive(SM) {
            padding: 1rem;
        }
    }
}
.fancybox-bg {
    background: rgba(0, 0, 0, 0.61);
    opacity: 1;
}
.fancybox-is-open .fancybox-bg {
    opacity: 1;
}
.fancybox-slide {
    @include Responsive(SM) {
        padding: 3rem 1rem;
    }
}
.partner {
    background: #f5f5f5;
    padding: 10rem 0;
    @include Responsive(SM) {
        padding: 4rem 0;
    }
    @include Responsive(XL) {
        &__content {
            &-left {
                width: 55%;
            }
            &-right {
                width: 45%;
            }
        }
    }
    &__content {
        &-left {
            .inner {
                padding: 7rem 5rem;
                background-color: #ffffff;
                height: 100%;
                @include Responsive(SM) {
                    padding: 26px 15px;
                }
            }
            .title {
                text-transform: uppercase;
                font-size: 6.4rem;
                font-weight: 400;
                margin-bottom: 1rem;
                line-height: 1.2;
                max-width: 560px;
                font-family: "UTM Cafeta";
                @include Responsive(SM) {
                    font-size: 28px;
                }
            }
            .desc {
                font-weight: 300;
                font-size: 20px;
                max-width: 583px;
                @include Responsive(SM) {
                    font-size: 16px;
                    font-weight: 300;
                }
            }
            .list-parter {
                margin-top: 6.4rem;
                .parter-img {
                    background: #f5f5f5;
                    border-radius: 8px;
                    text-align: center;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 3.4rem 2rem;
                    @include Responsive(SM) {
                        padding: 15px;
                    }
                }
            }
        }
        &-right {
            @include Responsive(XL) {
                margin-left: 3rem;
            }
        }
    }
    &__item {
        position: relative;
        height: 100%;
        &:after {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            content: "";
            background: linear-gradient(180deg, rgba(3, 3, 3, 0) 0%, rgba(3, 3, 3, 0.8) 91.98%);
        }
        &-title {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 5rem 2rem;
            text-transform: uppercase;
            color: #ffffff;
            font-weight: 400;
            font-size: 5rem;
            line-height: 1.1;
            z-index: 3;
            font-family: "UTM Cafeta";
            @include Responsive(SM) {
                font-size: 32px;
                font-weight: 700;
                font-family: "SVN-Brandon Grotesque";
            }
        }
        &-img {
            height: 100%;
            @include Responsive(SM) {
                height: auto;
                position: relative;
                padding-top: 100%;
                img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    display: block;
                }
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

//about-us
.banner__about {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-weight: 700;
    font-family: "SVN-Brandon Grotesque";
    @include Responsive(XL) {
        min-height: 45rem;
    }
    @include Responsive(SM) {
        background-position: right;
    }
    .sup-title {
        font-size: 20px;
        @include Responsive(SM) {
            font-size: 12px;
        }
    }
    .main-title {
        font-size: 6.4rem;
        max-width: 812px;
        margin: auto;
        line-height: 1.2;
        @include Responsive(SM) {
            font-size: 4.8rem;
        }
    }
}

.about__item {
    &:nth-child(3n + 1) {
        .about__item-content {
            background-color: #ffffff;
        }
    }
    &:nth-child(3n + 2) {
        .row {
            @include flex-direction(row-reverse);
        }
    }
    &-content {
        background: #f5f5f5;
        height: 100%;
        @extend %flex;
        @include flex-direction(column);
        @include justify-content(center);
    }
    &-img {
        img {
            width: 100%;
            object-fit: cover;
            -o-object-fit: cover;
        }
    }
    &-content {
        padding: 9rem;
        @include Responsive(SM) {
            padding: 4rem 15px;
        }
        .title {
            font-size: 4.8rem;
            font-weight: 700;
            margin-bottom: 3rem;
            text-transform: uppercase;
            font-family: "SVN-Brandon Grotesque";
            @include Responsive(SM) {
                font-size: 32px;
            }
        }
        .desc {
            color: rgba(0, 0, 0, 0.8);
            font-weight: 300;
            font-size: 2rem;
            @include Responsive(SM) {
                font-size: 14px;
            }
        }
    }
}

.news-letter {
    padding: 12rem 0;
    .title {
        font-size: 6.4rem;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "SVN-Brandon Grotesque";
        @include Responsive(SM) {
            font-size: 3.2rem;
        }
    }
    .sub-title {
        font-weight: 300;
        font-size: 18px;
        @include Responsive(SM) {
            font-size: 15px;
        }
    }
    form {
        max-width: 690px;
        width: 100%;
        margin: 3rem auto 0 auto;
        height: 52px;
        @extend %flex;
        border: 1px solid #cbcbcb;
        border-radius: 6px;
        background: #ffffff;
        overflow: hidden;
        padding: 1.5rem 2rem;
        input {
            @include flex(1);
            font-size: 16px;
            border: none;
            height: 100%;
            padding-left: 30px;
            background-repeat: no-repeat;
            background-position: left;
            background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.07675 2.53081C2.23299 2.01864 2.70925 1.64606 3.27254 1.64606H17.2725C17.8358 1.64606 18.3121 2.01864 18.4683 2.53081L10.2725 7.99467L2.07675 2.53081ZM0.522574 2.88232C0.522435 2.89032 0.522424 2.89832 0.522541 2.90631V12.8961C0.522541 14.4148 1.75376 15.6461 3.27254 15.6461H17.2725C18.7913 15.6461 20.0225 14.4148 20.0225 12.8961V2.90629M18.5225 4.29744V12.8961C18.5225 13.5864 17.9629 14.1461 17.2725 14.1461H3.27254C2.58218 14.1461 2.02254 13.5864 2.02254 12.8961V4.29744L9.85652 9.52009C10.1084 9.68804 10.4366 9.68804 10.6886 9.52009L18.5225 4.29744ZM20.0225 2.88235C20.0151 1.36987 18.7868 0.146057 17.2725 0.146057H3.27254C1.75834 0.146057 0.529971 1.36986 0.522574 2.88232' fill='%23121212'/%3E%3C/svg%3E%0A");
            color: #000000;
            &::placeholder {
                color: #a7a7a7;
                text-transform: uppercase;
            }
        }
        button {
            height: 100%;
            color: #080a07;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            font-family: "SVN-Brandon Grotesque";
            @include Responsive(SM) {
                font-size: 18px;
            }
        }
    }
}

.get-started {
    font-family: "SVN-Brandon Grotesque";
    padding: 12rem 0;
    .title {
        font-size: 4.8rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 3rem;
        @include Responsive(SM) {
            font-size: 3.2rem;
        }
    }
    .btn-start {
        display: inline-block;
        background: #ffffff;
        border-radius: 8px;
        color: #000000;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
        padding: 1.6rem 3rem;
        border: 1px solid transparent;
        @include Responsive(SM) {
            display: block;
            max-width: 90%;
            margin: auto;
            padding: 1.5rem 2rem;
        }
        &:hover {
            color: #ffffff;
            border-color: #ffffff;
            background-color: #000000;
        }
        @extend %smooth-trans;

        @include Responsive(SM) {
            font-size: 16px;
        }
    }
}

.banner__store {
    min-height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 12rem;
    @include Responsive(SM) {
        background-position: 72%;
    }
    .main-title {
        font-size: 6.4rem;
        margin-bottom: 4rem;
        @include Responsive(SM) {
            font-size: 3.6rem;
            color: #000000;
            margin-bottom: 1rem;
        }
    }
    .category-desc {
        max-width: 500px;
        font-weight: 300;
        font-size: 16px;
        @include Responsive(SM) {
            color: var(--primary-color);
        }
    }
}

.store__property {
    position: relative;
    z-index: 2;
    .row {
        background: #ffffff;
        box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        @include Responsive(XL) {
            padding: 8rem;
        }
        @include Responsive(MD) {
            display: none;
        }
        .col-4:nth-child(2) {
            border-left: 1px solid #e2e5f1;
            border-right: 1px solid #e2e5f1;
        }
    }
    .item {
        text-align: center;
        &-img {
            img {
                max-height: 70px;
                object-fit: contain;
                height: 100%;
            }
        }
        &-desc {
            font-weight: 500;
            font-size: 2.2rem;
            text-transform: uppercase;
            margin-top: 2rem;
        }
    }
    .inner {
        @include Responsive(SM) {
            background-color: #ffffff;
            box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            padding: 3rem 25px;
            text-align: center;
        }
    }
}

.store__category {
    margin: 11rem 0;

    .toolbar__box {
        &-filter {
            position: relative;
            display: inline-block;
            max-width: 100%;

            .box-filter {
                &-chosen {
                    cursor: pointer;
                    font-weight: 400;
                    padding-right: 25px;
                    margin-right: 3rem;
                    background-repeat: no-repeat;
                    background-position: right;
                    background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.24707 7.5L10.2471 12.5L15.2471 7.5' stroke='%23121212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                }
                &-list {
                    position: absolute;
                    display: block;
                    right: 0;
                    top: 4.5rem;
                    max-height: 300px;
                    overflow: auto;
                    list-style-type: none;
                    opacity: 0;
                    pointer-events: none;
                    transform-origin: top left;
                    transform: scale(1, 0);
                    transition: all ease-in-out 0.3s;
                    z-index: 2;
                    width: 24.6rem;
                    background: #ffffff;
                    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
                    border-radius: 8px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    &.active {
                        opacity: 1;
                        pointer-events: auto;
                        transform: scale(1, 1);
                    }
                    li {
                        display: block;
                        list-style-type: none;
                        padding: 10px 15px;
                        background: #fff;
                        font-size: 2rem;
                        line-height: 1.4;
                        cursor: pointer;
                        transition: all ease-in-out 0.3s;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-family: "SVN-Brandon Grotesque";
                    }
                }
            }
        }
        &-layout {
            li {
                cursor: pointer;
                svg {
                    path {
                        fill: #a7a7a7;
                    }
                }
                &.active {
                    svg {
                        path {
                            fill: #121212;
                        }
                    }
                }
            }
        }
    }
    .list__product {
        margin-top: 5rem;
        .row-cols-lg-5 {
            .product__banner {
                &-text {
                    font-size: 4rem;
                }
            }
        }
    }
    .product__banner {
        position: relative;
        &-img {
            padding-top: 141%;
            border-radius: 8px;
            overflow: hidden;
            @include Responsive(SM) {
                padding-top: 100%;
                img {
                    object-position: top;
                }
            }
            &::after {
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                background: linear-gradient(358.95deg, rgba(0, 0, 0, 0.2) 6.32%, rgba(0, 0, 0, 0) 99.19%);
            }
        }
        &-text {
            position: absolute;
            width: 100%;
            padding: 2rem;
            text-align: center;
            z-index: 3;
            top: 50%;
            transform: translateY(-50%);
            font-family: "SVN-Brandon Grotesque";
            text-transform: uppercase;
            color: #ffffff;
            font-weight: 700;
            font-size: 4.8rem;
            @include Responsive(SM) {
                font-size: 3.6rem;
            }
        }
    }
}

.product {
    &-item {
        &:hover {
            .product-img {
                background: #d8d6d6;
            }
        }
        a {
            display: block;
        }
    }
    &-img {
        padding-top: 120%;
        background: #f5f5f5;
        border-radius: 8px;
        overflow: hidden;
        @extend %smooth-trans;
        img {
            object-fit: contain;
            max-height: 37.5rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &-desc {
        margin-top: 2rem;
    }
    &-name {
        font-family: "SVN-Brandon Grotesque";
        text-transform: uppercase;
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 5px;
    }
    &-price {
        font-size: 16px;
        ins {
            text-decoration: none;
            margin-right: 1.5rem;
        }
        del {
            color: #a7a7a7;
        }
    }
}

.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: visible;
    z-index: -1;
    @extend %smooth-trans;
    &.active {
        z-index: 9999;
        opacity: 1;
        visibility: visible;
    }
}

.loader {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid var(--primary-color);
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
    -webkit-animation: 1s spin linear infinite;
    animation: 1s spin linear infinite;
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.list-category-mb {
    background: #000000;
    ul {
        @include flexbox();
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        li {
            padding: 2rem 1rem;
            color: #ffffff;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 14px;
            display: inline-block;
            text-align: center;
            min-width: 30%;
            a {
                position: relative;
                display: block;
                &:after {
                    position: absolute;
                    content: "";
                    width: 35px;
                    height: 2px;
                    background: #fff;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -1rem;
                    display: none;
                }
            }

            &.current-menu-item {
                font-weight: 700;
                a:after {
                    display: block;
                }
            }
        }
    }
}

.pagination {
    margin-top: 6rem;
    .page-item {
        a {
            padding: 0;
            width: 4rem;
            height: 4rem;
            color: var(--primary-color);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            svg{
                path{
                    stroke: var(--primary-color);
                }
            }
        }
        &.active,&:hover {
            a {
                background-color: var(--primary-color);
                border-color: var(--primary-color);
                color: #ffffff;
                svg{
                    path{
                        stroke: #ffffff;
                    }
                }
            }
        }
    }
   
}
